<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AssociacaoSiloMP_AGRONOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="AssociacaoSiloMP__JOFEGE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="AssociacaoSiloMP__JOFEGE.My.MySettings.JOFEGE_ARGAMASSA_ConnectionString"
   connectionString="Data Source=.\sql2014;Initial Catalog=JOFEGE_ARGAMASSA;User ID=sa;Password=sa@123;MultipleActiveResultSets=TRUE" />
  <add name="AssociacaoSiloMP_AGRONOR.My.MySettings.AGRONOR_ConnectionString"
   connectionString="Data Source=.\SQL2014;Initial Catalog=AGRONOR;User ID=sa;Password=Agronor@123;MultipleActiveResultSets=TRUE" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
 <userSettings>
  <AssociacaoSiloMP_AGRONOR.My.MySettings>
   <setting name="VERIFICA_SUPERVISORIO_ATIVO" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UNIDADE_DESCRICAO" serializeAs="String">
    <value>AGRONOR</value>
   </setting>
   <setting name="OPC_UPDATE_RATE" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="OPC_TOPICO" serializeAs="String">
    <value>ARGAMASSA</value>
   </setting>
  </AssociacaoSiloMP_AGRONOR.My.MySettings>
 </userSettings>
</configuration>