<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssociacaoSiloMP_JOFEGE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AssociacaoSiloMP__JOFEGE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AssociacaoSiloMP__JOFEGE.My.MySettings.JOFEGE_ARGAMASSA_ConnectionString"
            connectionString="Data Source=.\sql2014;Initial Catalog=JOFEGE_ARGAMASSA;User ID=sa;Password=sa@123;MultipleActiveResultSets=TRUE" />
        <add name="AssociacaoSiloMP_JOFEGE.My.MySettings.JOFEGE_ARGAMASSA_ConnectionString"
            connectionString="Data Source=JFGPC000379\SQLEXPRESS;Initial Catalog=JOFEGE_ARGAMASSA;User ID=sa;Password=@Jofege@itatiba;MultipleActiveResultSets=TRUE" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <AssociacaoSiloMP_JOFEGE.My.MySettings>
            <setting name="SUPERVISORIO_NODE" serializeAs="String">
                <value>Fix32.JOFEGE</value>
            </setting>
            <setting name="PASTA_DYNAMICS" serializeAs="String">
                <value>C:\DYNAMICS\</value>
            </setting>
            <setting name="EXE_WORKSPACE" serializeAs="String">
                <value>WORKSPACE</value>
            </setting>
            <setting name="VERIFICA_SUPERVISORIO_ATIVO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UNIDADE_DESCRICAO" serializeAs="String">
                <value>JOFEGE - Argamassa</value>
            </setting>
        </AssociacaoSiloMP_JOFEGE.My.MySettings>
        <AssociacaoSiloMP__JOFEGE.My.MySettings>
            <setting name="SUPERVISORIO_NODE" serializeAs="String">
                <value>Fix32.GUABI</value>
            </setting>
            <setting name="PASTA_DYNAMICS" serializeAs="String">
                <value>C:\DYNAMICS\</value>
            </setting>
            <setting name="EXE_WORKSPACE" serializeAs="String">
                <value>WORKSPACE</value>
            </setting>
            <setting name="VERIFICA_SUPERVISORIO_ATIVO" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UNIDADE_DESCRICAO" serializeAs="String">
                <value>JOFEGE - Argamassa</value>
            </setting>
        </AssociacaoSiloMP__JOFEGE.My.MySettings>
    </userSettings>
</configuration>